<div class="col-sm-3 col-md-2 sidebar">
		<div class="list-group table-of-contents" ng-controller="SidebarController">
		    <a href="#/profile" class="list-group-item" ng-class="{'btn-primary' : $location.url() == '/profile'}">Profile</a></li>
			<a href="#/form" class="list-group-item" ng-class="{'btn-primary' : $location.url() == '/form'}">List Projects</a></li>
		    <a href="#/propose" class="list-group-item" ng-class="{'btn-primary' : $location.url() == '/propose'}">Propose Project</a></li>
		</div>
</div>