<div class="container" ng-include="'./views/postheader/header.view.html'"></div>

<div class="container-fluid">
        <div class="row">
        <div class="container" ng-include="'./views/sidebar/sidebar.view.html'"></div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="FieldController">

                <h1 class="page-header">{{project.title}}</h1>
                <h2>Description</h2>
                {{project.description}} <br>
                <h2>Git Repository</h2>   
                {{project.gitrepo}} <br>
                <h2>Owner </h2>
                {{project.owner}}
                <br>
                <h3>Git Commit History for the Repository</h3>
                <div class="table-responsive">
                    <table class="table table-striped table hover" ng-controller="FieldController">
                        <thead>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Commit Message</th>
                        </thead>
                        <tr class ="success" ng-repeat="response in git_commits">
                            <td> 
                                {{response.commit.committer.name}}
                            </td>
                            <td>
                                {{response.commit.committer.date}}
                            </td>
                            <td>
                                {{response.commit.message}}
                            </td>
                        </tr>
                    </table>
        </div>
        
    </div>
</div>
</div>